body{
    background-color: burlywood;
    font-size: 15px;
    font-family: sans-serif;
}
p{
    color: darkmagenta;
    clear: both;

} 


h1 {
    color: chartreuse;
} 

h3 {
    color: rgb(5, 85, 45);
}
h4 {
color: rgb(87, 7, 7);
}

.alert-text {
    color: red;
    clear: both;
  }

  #title {
    background-color: rgb(134, 94, 97);
  }
   
  span {
      color: yellow;
      font-size: 20px;

  }

  .top-section {
     
    background: greenyellow;
  }
   bottom-section {

    background: indigo;
   }


.intro {
    font-size: 24px;
    color: lawngreen;
}

.highlight {

    background: lightblue;
}
.accent-color {
    color: red;
}

#main-point {

    color: rgb(5, 85, 45);
}

/* this is my comment the css box model */

/*margin: empty space around my element
border: a border/ stroke/ around my elemnt
padding: empty space with background around my element

all of these add on top of the width and height!
*/
.box {
    background: salmon;
    width: 0px;

    padding: 100px;
    padding-top: 50px;
    padding-right: 100px;
    padding-bottom: 51px;
    padding-left: 50px;
    float: left;
    

}
.red-box {

    width: 500px;
    background: silver;
    float: left;
}

.blue-box {
    height: 400px;
    width: 700px;
    background: blue;
    float: right;
}
img {
    float: left;
    margin-right: 20px;
}
 .box1 {

background: red;
 }
 .box2 {
     background: orange;
 }
 .box3 {
     background: yellow;
 }
 .box4 {
     background: green;
 }
 .box5 {
     background: blue;
 }
 .box6 {
     background: indigo;
 }
 .box7 {
     background: violet;
 }
 .box8 {
     background: black;
 }
 .box9 {
     background: pink;
 }
 .box10 {
     background: plum;
 }
 .container {
     background: white;
     width: 600px;
     width: 70;
     margin: 0 auto;
     max-width: 1000px;
 }
 .container1 {
     background: rgb(196, 25, 25);
     height: 10vh;
     width: 80vh;
     padding: 0.5em;
     margin: 25vh auto 0;

     display: flex;
     flex-direction: row;
     flex-wrap: wrap;

     justify-content: space-between;
     align-items: stretch;
     align-content: center;
 }

    
 .item1 {
     
     background: rgb(51, 219, 65);
     border: 4px solid rgb(177, 114, 250);
     height: 48px;
     width: 4px;
     gap: 30px;
 }

 .big {
     font-size: 2em;
 }
 
 .container3 {
  
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  
  height: 140px;
  padding: 16px;
  background: plum;
  border: 4px solid indigo;
  align-items: center;
  justify-content: center;
  gap: 8px;
  
    
  }
  
  .item3 {

    background: peachpuff;
    border: 4px solid brown;
    height: 80px;
    width: 60px;
   
  }  
  ul1{

    display: flex;
    flex-wrap: wrap;
  }
  li{

    height: 5vh;
    flex-grow: 1;
    float:inline-end;
  }
  img{
max-height: 100%;
min-width: 100%;
object-fit: fill;
object-position: bottom;
vertical-align: bottom;

@media (max-aspect-ratio: 1/1) and (max-width: 480px) {
ul {
    flex-direction: row-gap: ;;
}

    li {
      height: auto;
      width: 100%;
    }
    img {
      width: 100%;
      max-height: 75vh;
      min-width: 0;
    }
  }
  .plan ul li {
      border-bottom: 1px solid rgba(0,0,0,1);
      padding:10px;

  }
  .pricing-grid{
      max-width: 750px;
      margin: 0 auto;
      border: red;
      display: flex;
      align-items: center;
  }
  .price{
      font-size: 50px;
      font-family: serif;
      margin: 10px 0;
  }

.plan a{
    text-decoration: none;
    background: yellow;
    padding: 10px;
    color: black;
    border-radius: 4px;
}
.plan{
    
    background: rgb(177, 114, 250);
    margin: 20px;
    padding: 20px;
    border-radius: 4px;
    text-align: center;

    flex: 1;
    display: flex;
    flex-wrap: wrap;
    
}
.plan > * {
    flex:1 1 100%;
}
.plan .cta{
    align-self: flex-end;
}
