body{
    background-color: burlywood;
    font-size: 21px;
    font-family: sans-serif;
}
p{
    color: darkmagenta;

} 
div {
    color: white;
}

h1 {
    color: chartreuse;
} 

h3 {
    color: rgb(5, 85, 45);
}
h4 {
color: rgb(87, 7, 7);
}

.alert-text {
    color: red;
  }

  #title {
    background-color: rgb(134, 94, 97);
  }
   

  